html, body {
  height: 100%;
  background-color: #f5f5f5;
}

#root {
	height:100%;
  	width:100%;
}
*,
*::before,
*::after {/* Stops borders from increasing the width and height, making it overlap the window size. */
  box-sizing: border-box;
}