html, body {
  height: 100vh;
  background-color: #fefefe;
}

#root {
	height:100vh;
  	width:100vw;
}
*,
*::before,
*::after {/* Stops borders from increasing the width and height, making it overlap the window size. */
  box-sizing: border-box;
}
