/* card.css */
.container {
	z-index:100;
  	position: relative;
  	background-color: #fefefe;
	width: 100vw;
	height: 20vh;
	max-height: 100px;
	display:grid;
  	grid-template-columns: 50% 50%;
	border-bottom: 2px solid #6F839710;
}

.logoContainer {
	align-items: center;
	color:black;
	display: flex;
	justify-content: center;
}

.logo {
	height: 6vh;
	margin-right: 20px;
}

.logoLink {
	outline: none;
	color:black;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.navBarContainer {
	align-items: center;
	display: flex;
	gap:5vh;
	justify-content: center;
}
.navBarMobileContainerHide {
	top:-20vh;
}
.navBarMobileContainerShow {
	top:12vh;
}
.navBarMobileContainer {
	z-index:50;
	position:absolute;
	width:100vw;
	height:28vh;
	gap: 5px;
	justify-content: center;
  	background-color: #252323;
	border-bottom: 1px solid #6F8397;
	box-shadow: 2px 2px 2px #6F8397;
	padding-top:2vh;
	padding-bottom:2vh;
	left: 0px;
	display: flex;
	flex-direction: column;
	text-align: center;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    transition: 1s ease-out;
}

.navBarButton {
	position: absolute;
	padding-top:1px;
	font-size:4vh;
	right: 2vh;
	align-self: center;
	color: black;
}
.navBarLink {
	padding-top:25px;
	color: #f5f1ed;
	padding-bottom:1px;
	font-size:2.2vh;
	align-self: center;
	margin-right: 5%;
}
