.container {
	height:80vh;
	width:100%;
	display: flex;
	color:black;
	justify-content: center;
}

.content {
	padding-top: 40px;
	height:86vh;
	max-width:1330px;
	display:grid;
	gap:10px;
	justify-content: center;
	grid-template-rows: 270px;
}

@media (min-width: 700px) {
	.content { grid-template-columns: repeat(2, 50%);}
}
@media (min-width: 1200px) {
	.content { grid-template-columns: repeat(3, 33%);}
}
